<form [formGroup]="form" (ngSubmit)="save()" class="container-fluid">

    <div class="form-group">
        <label for="question">Question</label>
        <input formControlName="question" autocomplete="off" type="text" class="form-control" id="question" placeholder="New Question">
    </div>

    <div class="md-3" formArrayName="answers">

      <div *ngFor="let answerGroup of answers.controls; let i = index" class="row align-items-center">
        <div class="col-6">
          <label for="question">Answers: </label>
          <input type="text" class="form-control" placeholder="New Answer"  [formControl]="answerGroup.get('value')">
        </div>

        <div class="col-auto">
          <div class="mb-3 form-check my-3">
            <mat-checkbox class="example-margin" [formControl]="answerGroup.get('correct')">Correct?</mat-checkbox>
          </div>
        </div>

        <div class="col-auto">
          <button type="button" class="btn btn-danger" (click)="removeAnswer(i)">
            delete
          </button>
        </div>
      </div>
    </div>
    <div class="box">
      <button
        type="button"
        class="btn btn-success my-2 "
        (click)="addAnswer()"
      >
        Add Answer
      </button>
      <button
        [disabled]="loading || !form.valid"
        type="submit"
        class="btn btn-primary"
      >
        Send To db
      </button>
    </div>

</form>
