.btn {
  cursor: pointer;
  min-width: 100px;
}

.btn-danger {
  margin-left: 10px;
}

.form-check-input {
  margin-left: 0.75rem;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}
