<nav class="navbar navbar-expand navbar-dark bg-dark" >
  <div class="navbar-nav">
    <span routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-item nav-link" routerLink="/quiz" >Home</a>
    </span>
    <span routerLinkActive="active">
      <a class="nav-item nav-link" routerLink="/admin">Admin</a>
    </span>

    <a class="nav-item nav-link btn"
      *ngIf="currentUser"
      (click)="logout()"
    >
      Logout
    </a>
  </div>
</nav>

<div class="container">
<router-outlet></router-outlet>
</div>
