<a class="btn btn-outline-primary mb-4" routerLink="/admin/create" >
  Crete new question +
</a>
<table class="table">
  <thead>
    <th>#</th>
    <th>Question</th>
    <th class="action">Actions</th>

  </thead>
  <tbody>
  <tr *ngFor="let question of questions">
    <td>{{question.id}}</td>
    <td>{{question.question}}</td>
    <td class="action">
      <a class="btn btn-outline-primary" [routerLink]="['/admin/edit', question.id]">
        <i class="fas fa-pen"></i>
        <span class="d-none d-md-inline-block">Edit</span>
      </a>

      <button
        [disabled]="loading"
        type="button"
        class="btn btn-danger"
        (click)="remove(question.id)"
      >
        <i class="fas fa-trash-alt"></i>
        <span class="d-none d-md-inline-block">
          Delete
        </span>
      </button>
    </td>
  </tr>

  </tbody>
</table>
