<header class="header">
  <h1>Quiz</h1>
</header>

<mat-card class="card">
  <ng-container *ngIf="!loading && getCurrentQuestion ; else finishBlock">
    <mat-card-title> Question: {{ getCurrentQuestion.question }}</mat-card-title>
    <form
      class="check__list"
      [formGroup]="form"
      (ngSubmit)="handleSubmitForm(getCurrentQuestion.id)"
    >
      <label formArrayName="answers" *ngFor="let answer of answersFormArray.controls; let i = index">
        <mat-checkbox class="example-margin" [formControlName]="i" >{{ getCurrentQuestion.answers[i].value }}</mat-checkbox>
      </label>
      <div>
        <button
          type="button"
          class="btn__submit"
          mat-button
          color="accent"
          (click)="back()"
          [disabled]="this._currentQuestionIdx === 0 "
        >Back</button>
        <button
          type="submit"
          class="btn__submit"
          mat-button
          color="accent"
          [disabled]="!form.valid"
        >
          Next
        </button>
      </div>
    </form>
  </ng-container>

  <ng-template #finishBlock>
    <app-finish-block
      [loading] = loading
      [getIncorrectAnswers] = getIncorrectAnswers
      [questionsLength] = questions.length
      (toRetry)="retry()"
    ></app-finish-block>

  </ng-template>



  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</mat-card>


