.check__list {
  display: flex;
  flex-direction: column;
}

.btn {
  display: block;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
}

.check__finish {
  display: flex;
  justify-content: space-around;
}

.card {
  max-width: 50%;
  margin: 100px auto;
}
